<% content_for :title, "Editing task" %>

<div class="w-96 mx-auto mt-8">
  <div class="flex justify-between">
    <h1 class="font-bold text-4xl">Editing task</h1>
    <%= link_to "Show this task", @task, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-5 py-2.5 bg-gray-500 inline-block font-medium" %>
  </div>

  <%= render "form", task: @task %>
  <%= link_to "Back to tasks", tasks_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-5 py-2.5 bg-gray-500 inline-block font-medium" %>
</div>
