/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
    /* app/assets/stylesheets/pagination.css */
    .pagination {
      @apply flex justify-center mt-8; /* Center the pagination and add margin */
    }

    .pagination a, .pagination span {
      @apply px-4 py-2 mx-1 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-100;
    }

    .pagination .current {
      @apply bg-blue-500 text-white border-blue-500; /* Active page styling */
    }

    .pagination .disabled {
      @apply opacity-50 cursor-not-allowed; /* Disabled link styling */
    }

    .pagination a {
      padding: 10px;
      font-style: normal !important;
    }

    .pagination em {
      padding: 10px;
      font-style: normal !important;
    }

    .pagination .previous_page, .pagination .next_page {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }